{% extends 'three/basic.html' %}
{% load static %}
{% block con %}
<div class="container">
    {% for i in res %}
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">{{ i.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ i.adr }}</h6>
    <p class="card-text"> 리뷰 수:  {{  i.reviews_count }}
        평점 : {{ i.average_score }}
    </p>
    <a href="{% url 'res-read' id=i.id %}" class="card-link">자세히 보기</a>
    <a href="{% url 'res-update' %}?id={{ i.id }}" class="card-link">수정하기</a>
  </div></div>
{% endfor %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="pagination">
                <span class="step-links text-center" style="width:100%;">
                    {% if res.has_previous %}
                        <a href="?page=1">&laquo;</a>
                        <a href="?page={{ res.previous_page_number }}">
                            {{ res.previous_page_number }}
                        </a>
                    {% endif %}

                    <span class="current">
                        {{ res.number }}
                    </span>

                    {% if res.has_next %}
                        <a href="?page={{ res.next_page_number}}">
                            {{ res.next_page_number }}
                        </a>
                    <a href="?page={{res.paginator.num_pages }}">&raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}