{% extends 'three/basic.html' %}
{% load static %}
{% block con %}
<div class="container">
    <div class="card" style="width: 18rem;">
        <p>{{ a.name }}</p>
        <p>{{ a.adr }}</p>
        <p>
            <a href="{% url 'res-delete' id=a.id %}">
                <button class="btn btn-danger">삭제</button>
            </a>
        </p>
          <p>
            <a href="{% url 'review-create' food_id=a.id %}">
                <button class="btn btn-danger">리뷰쓰기</button>
            </a>
        </p>
        {% for i in re %}
            {{ i.score }}점
        <a href="{% url 'review-delete' food_id=a.id review_id=i.id %}">
            <button type="button" class="close" area-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </a>
        {{ i.comment }}
        {% endfor %}
    </div>
</div>
{% endblock %}